ul {
    padding: 0px;
    margin: 0px;
}
button {
    padding: 0px;
}
.page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table{
    display: flex;
    width: 80%;
    height: fit-content;
    
    justify-content: space-between;
    margin-left: 4px;
    margin-right: 4px;
    
}
.create-task__Btn{
    width: 140px;
    height: 35px;
    margin: 8px;
}
.table__section{
    background-color: #f4f5f7;
    width: 270px;
    min-height: 600px;
    border: 1px solid #000;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    margin-top: 8px;

    display: block;
    margin-left: 4px;
    margin-right: 4px;
}
.table__title{
    border-bottom:  1px solid #000;
    text-align: center;
    background-color: #1e0059;
    color: #FFF;
    padding: 4px;
    
}

.table__card{
  
  
    width: 252px;
    min-height: 80px;
    margin-bottom: 8px;
    padding: 16px;
    background-color: #FFF;
    border-radius: 8px;
    list-style: none;
    display: block;
}

.card__name{

   
    font-weight: 500;
    display: block;
    word-wrap: break-word;
}
.card__desc{

    display: block;
    word-wrap: break-word;
}
.card__Btn{
    background: none;
    border: none;
    padding: 4px;
    margin: 4px;
}
.card__action{
    display: flex;
    flex-direction: row;
}