
.page{
    background-color: #9295e4;
    min-width: 100vw;
    min-height: 100vh;

    /* overflow: hidden; */
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}